header {
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #5555;
  border-color: white
}

body {
  background-color: #111;
  color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 10%;
  border: 1px solid #5555;
  border-color: white
}

div.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 5%;
}

div.first{
  text-align: left;  
}

ul.first{
  display: inline-block;
  text-align: left;
}

div.second{
    text-align: center;
}

ul.second{
  display: inline-block;
  text-align: left;
}

div.third{
  text-align: right;
  align-content: right;
}

ul.third{
  display: inline-block;
  text-align: left;
}

div.experience{
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #5555;
  border-color: white
}

button.current-job{
  cursor: pointer;
  background-color: #eee;
  color: #444;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 1%;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}

.active, .current-job:hover {
  background-color: #ccc;
}

button.previous-job{
  cursor: pointer;
  background-color: #eee;
  color: #444;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 1%;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}

.active, .previous-job:hover {
  background-color: #ccc;
}

button.previous-job2{
  cursor: pointer;
  background-color: #eee;
  color: #444;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 1%;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}

.active, .previous-job2:hover {
  background-color: #ccc;
}

button.previous-job3{
  cursor: pointer;
  background-color: #eee;
  color: #444;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 1%;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}

.active, .previous-job3:hover {
  background-color: #ccc;
}

button.previous-job4{
  cursor: pointer;
  background-color: #eee;
  color: #444;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 1%;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}

.active, .previous-job4:hover {
  background-color: #ccc;
}

button.previous-job5{
  cursor: pointer;
  background-color: #eee;
  color: #444;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 1%;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}

.active, .previous-job5:hover {
  background-color: #ccc;
}

div.education-header{
  text-align: center;
  border: 1px solid #5555;
  border-color: white;  
}
